<script type="text/javascript">
 

 $("#myTab li.active").removeClass("active");

 $('#myTab li:eq(7)').addClass("active");
 


</script>

<div class="text-primary lead" id="contact">

<strong>
Anish Singhania</strong><br>
<small>
President, GLUG<br>
Ph: 7384685448<br>
Email: anish@mkti.in
</small>
<br>
<br>
<strong>
Subham Tripathi</strong><br>
<small>
Vice-President, GLUG<br>
Ph: 8293576114<br>
Email: subham@mkti.in
</small>
<br>
<br>
<strong>
Jeet Biswas</strong><br>
<small>
Convenor, Mukti ‘14<br>
Ph: 9475201787<br>
Email: jeet@mkti.in
</small>
<br>
<br>
<strong>
Vivek Sinha</strong><br>
<small>
General Secretary, GLUG<br>
Ph: 8293420803<br>
Email: sinha.vivek@mkti.in
</small>

<br>
<br>
<strong>
Prateek Arora</strong><br>
<small>
Treasurer, GLUG<br>
Ph: 9831146732<br>
Email: prateek@mkti.in
</small>
</div>