<script type="text/javascript">
 

 $("#myTab li.active").removeClass("active");

 $('#myTab li:eq(2)').addClass("active");
 


</script>

<div class="container" id="learn">
	<h3>Fedora Installation Tutorial</h3>
		<ul>
			<li>Download the live image from the fedoraproject website.</li>
			<li>Burn the .iso image to a CD, DVD or a USB stick. Make sure that you write it at a slow speed so 
                that nothing gets broken in the process.</li>
            <li>Change the BIOS settings. If you are using a live USB, you might need to go into your BIOS and 

change the boot priority in order to boot from your USB. You can access your computer's BIOS by 

pressing ‘F2’ or ‘Delete’ on most computers when the computer is booting up. If you are using a 

CD or DVD, ignore this step as generally CDs are first in boot priority.</li>
			<li>Be sure to select "Live Drive" when the option screen first appears. If you select to install it, it 

can potentially delete everything from your system.</li>
			<li>
				Explore the system. The most notable thing about you should toy with is the window manager 

which allows you to see pretty cool effects. You should also explore around the applications 

already installed in the OS and see what else is available with their package manager.
			</li>
		</ul>
</div>

