 <script type="text/javascript">
 $("#myTab li.active").removeClass("active");

 $('#myTab li:eq(1)').addClass("active");
 

</script>



	<p class="text-primary lead" id="purpose">
		GNU Linux User's Group (GLUG), NIT Durgapur ,established in 2004 , has ever since been popularizing GNU/linux and promoting the use of FOSS both off and on campus .We organize Mukti , the National level , Annual Technical Symposium of GLUG and the only FOSS festival of Eastern India .We also publish LiNIT , an Annual Technical Magazine catering to the interests of both a novice and an expert in the field of FOSS. With more than 300 members in the mailing list including alumni as well as industrialists , we aim at being as connected to the world of FOSS as possible and contributing as much as possible to it. As members of GLUG , we have imbibed this love for freedom, as a user and developer , and the only message we have for others is , “Come embrace this Freedom ! ”
	</p>

