 <script type="text/javascript">
 $("#myTab li.active").removeClass("active");

 $('#myTab li:eq(1)').addClass("active");
 

</script>



	<div class="text-primary lead" id="purpose">
		<p>
		GNU/Linux Users’ Group, NIT Durgapur, established in 2003, has ever since been popularizing GNU/Linux and promoting the use of FOSS both on and off campus. To realise our objective, we conduct Install Fests, Tutorials, Workshops and Competitions, both online and offline, throughout the year. Going by the philosophy of Free and Open Source software, the group does not impose any charge whatsoever to attend any of its events.
		</p>
		<p>
		We organize Mukti, our Annual National Level Technical Symposium which is the only of its kind FOSS festival in Eastern India. Mukti, owing to the success it has been over the past years, attracts the brightest minds from across the country. Mukti is the perfect blend of fun-filled, intense competitions and talks and workshops by notable persona from the Indian Open Source Community.
		</p>
		<p>
		The group also publishes LiNIT, an Annual Technical Magazine on Free and Open Source Software which features a plethora of articles on the latest happenings in the world of FOSS. LiNIT reaches out to thousands of students from not only NIT Durgapur but also from most other colleges in Eastern India. With time, LiNIT has received much critical acclaim from the Open Source Community in Eastern India.
		</p>
		<p>
		With more than 300 members in the mailing list including developers from diverse backgrounds, the group aims to be a proactive community in propagating the philosophy of Free and Open Source Software and “giving back” to the Open Source Community. In the past, our members have contributed to several Open Source Projects like Kstars, Amarok, KDE, GNOME, Rekonq, DigiKam and Mozilla among others and have been subsequently awarded with Google Summer of Code and Season of KDE projects.
		</p>
		<p>
		As members of GLUG, we have imbibed this love for freedom, as a user and developer, and believe that Software Freedom is as essential as any of the other rights and freedoms that we enjoy. Irrespective of which walk of life you are from, open source softwares touch your life in more ways than one. So what are you waiting for? Join us and  “Come embrace Freedom!”
		</p>
	</div>

