

#carousel_main div img{
	width: 80%;
	margin-left: 9%;
	height: 300px;

}

#myTab {
	margin-left: 9%;

}
#downloads{
	margin-left: 9%;
	margin-bottom: 25%;

}
#learn{
	margin-left: 9%;
	margin-bottom: 25%;
}
#myTab li a {
	color: #474747;
}
#carousel_btn{
	margin-right: 10%;

}
.body{

	background-color: #C0C0C0;
}
/*.footer
{
width:100%;
position:relative;
height: 10%;
background-color: #6cf;


}*/
/*
#fb_grey
{
backface-visibility:hidden;
-webkit-backface-visibility:hidden;
-moz-backface-visibility:hidden;
-o-backface-visibility:hidden;
}
#twit_grey
{
backface-visibility:hidden;
-webkit-backface-visibility:hidden;
-moz-backface-visibility:hidden;
-o-backface-visibility:hidden;
}
.fb_bttn,.twit_bttn
{
perspective:1000px;
-webkit-perspective:1000px;
-moz-perspective:1000px;
-o-perspective:1000px;
transform-style:preserve-3d;
-webkit-transform-style:preserve-3d;
-moz-transform-style:preserve-3d;
-o-transform-style:preserve-3d;
cursor:pointer;
}*/
#main
{
	
	margin-top: 100px;
	
	width: 100%;
	height: 70%;
	
	
	margin-bottom: 100px;
}
#welcome{
	margin-bottom: 10px;
	margin-left: 9%;
	width: 55%;
	height: 400px;


}
#mukti{
	margin-bottom: 10px;
	margin-left: 9%;
	width: 55%;
	height: 400px;
	margin-top: 10px;
}
#ticker{
	width: 20%;
	float: right;
	margin-right: 11%;
	height: 400px;
	overflow-x:hidden; 
	overflow-y:auto; 
	background-color: #E0E0E0;
}
#ticker1{
	margin-top: 10px;
	width: 20%;
	float: right;
	margin-right: 11%;
	height: 400px;
	overflow-x:hidden; 
	overflow-y:auto; 
	background-color: #E0E0E0;
}
#ticker_hding
{
	background-color: #474747;
	height: auto;
	width: 100%;
	float: left;
	position: relative;
}

#content{
	line-height: 30px;
	font-size: 15px;
	font-family: 'Sintony', sans-serif;
	color: #202020;
	font-weight: normal;
}
#ticker_text
{
	font-size: 15px;
	font-family: 'Sintony', sans-serif;
	clear: both;
	margin-left: 4%;
	width: 80%;
	margin-right: 4%;
	margin-top: 50px;

}
.ticker_tym_stamp
{
	font-family: 'Sintony', sans-serif;
	font-size: 10px;
	color: #7C7C7C;
	margin-left: 1%;
}
#ticker_hding h4
{
	font-size: 17px;
	font-family: 'Sintony', sans-serif;
	color: #FFFFFF;
	margin-left: 4%;
}

#main_hd h4
{
	font-size: 17px;
	font-family: 'Sintony', sans-serif;
	margin-left: 2%;
	color: #ffffff;
	
}


#purpose p {
	margin-left: 9%;
	margin-right: 5%;
	font-family: 'Sintony', sans-serif;
	color: #202020;

}
.contact_small{
	font-size: 10px;
}
#contact {
	margin-left: 9%;
	margin-right: 5%;
	font-family: 'Sintony', sans-serif;
	color: #202020;
} 
#head_img{
	margin-left: 9%;

}
.head{
	border-bottom: 1px groove #474747;
	width: 100%;
	margin-bottom: 2%;
}
#main_hd {
	position: relative;
	background-color: #474747;
	height: auto;
	width: 100%;
	float: left;

}
.ticker2{
	height: auto; 
	width: 100%;
	overflow-x:hidden; 
}
#table tr th{
	height: auto; 
	width: 50px;
	overflow-x:hidden; 
}
.footer
{
	border-top: 1px solid black;
	width: 100%;
	position: relative;
	height: 10%;
	margin-bottom: 100px;

}
.twit
{
position:absolute;
height:30px;
right:4%;
margin-top:2px;
margin-bottom: 10px;
}
.fb
{
height:30px;
right:8%;
margin-top:2px;
position:absolute;
margin-bottom: 10px;
}