<div class="footer">
	<div class="twit_bttn">
        <img class="twit" id="twit_blue" src="img/twitter_blue.gif" />
            	<img class="twit" id="twit_grey" src="img/twitter_grey.gif" />
    </div>
    <div class="fb_bttn">
    	<img class="fb" id="fb_blue" src="img/fb_blue.gif" />
        <img class="fb" id="fb_grey" src="img/fb_grey.gif" />
    </div>

</div>